@model List<NameAndUrl>

<h1>Your Favorites</h1>

<table class="table table-danger">
    <tr>
        <th>Pokemon</th>
        <th>Poke-Page</th>
    </tr>
    
    @foreach(NameAndUrl p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td><a href="/Pokemon/PokemonResults?id=@p.Url.Split('/')[^2]">Go To Poke-Page</a></td>


        </tr>

    }


</table>

