@model List<NameAndUrl>

<script type="text/javascript">
    function doHover(id){
        var current = document.getElementsByClassName("active");
    
        // If there's no active class
        if (current.length > 0) {
          current[0].className = current[0].className.replace(" active", "");
        }
        document.getElementById(id).className += " active";
    }
    function unHover(id){
        let className = document.getElementById(id).className
        document.getElementById(id).className = className.replace(" active", "");
    }
</script>

@for (int i=0;i<Model.Count;i++)
{
    <div class="list-group">
        <a href="/Pokemon/Pokemon?id=@i" id="@i" class="list-group-item list-group-item-action" onmouseover="doHover(@i)" onmouseleave="unHover(@i)">
            #@(i+1) @Model[i].Name
        </a>
    </div>
}